@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 43, 43);
    font-family: 'Solway', serif;
    width:100%;
}


#vid{
    filter:brightness(0.2);
    width:100%;
    
}

.intro{
    position:absolute;
    left:50%;
    transform: translate(-50%);
    bottom:520px;
    text-align: center;
}

.intro > p{
    font-family: 'Catamaran', sans-serif;
    color:white;
    font-size: 20px;
}

#liten{
    font-size: 13px;
}

h1{
    font-family: 'Catamaran', sans-serif;
    color:white;
    text-align: center;
    margin-top:25px;
    font-size: 60px;
}

h2{
    font-family: 'Catamaran', sans-serif;
}

.overskrift1, .overskrift2, .overskrift3{
    text-align: center;
    cursor: pointer;
}

main > .lyricbox1{
    margin:20px auto;
    width:370px;
    background-color: rgb(188, 183, 183);
    padding:20px;
    border-radius:10px;
    box-shadow: 0 10px 10px 0 rgb(33, 32, 32);
}

main > .lyricbox2{
    margin:20px auto;
    width:370px;
    background-color: rgb(164, 161, 161);
    padding:20px;
    border-radius:10px;
    box-shadow: 0 10px 10px 0 rgb(33, 32, 32);
}

main > .lyricbox3{
    margin:20px auto;
    width:370px;
    background-color: rgb(142, 142, 142);
    padding:20px;
    border-radius:10px;
    box-shadow: 0 10px 10px 0 rgb(33, 32, 32);
}

audio{
    width:100%;
    margin-top:10px;
}

audio::-webkit-media-controls-panel{
    background-color: rgb(114, 112, 112);
}

audio::-webkit-media-controls-play-button{
    border-radius:50%;
    background-color: rgb(173, 172, 172);

}

main > .lyricbox1> .lyric1 > .vers{
    margin: 30px 20px;
}

main > .lyricbox1 > .lyric1 > .vers > p{
    margin: 5px 10px;
}

main > .lyricbox1 > .lyric1 > img{
    width:100%;
    border-radius: 10px;
}


main > .lyricbox2> .lyric2 > .vers{
    margin: 30px 20px;
}

main > .lyricbox2 > .lyric2 > .vers > p{
    margin: 5px 10px;
}

main > .lyricbox2 > .lyric2 > img{
    width:100%;
    border-radius: 10px;
}

/* dd */
main > .lyricbox3> .lyric3 > .vers{
    margin: 30px 20px;
}

main > .lyricbox3 > .lyric3 > .vers > p{
    margin: 5px 10px;
}

main > .lyricbox3 > .lyric3 > img{
    width:100%;
    border-radius: 10px;
}


.lyric1 , .lyric2, .lyric3{
    display:none;
}

.lyric1.show{
    display:inline-block;
}

.lyric2.show{
    display:inline-block;
}

.lyric3.show{
    display:inline-block;
}

#slutt{
    width:370px;
    border-radius: 10px;
    margin-bottom:20px;
}

@media(min-width:395px){
    .intro{
        bottom:550px;
    }

    main > .lyricbox1{
        width:390px;
    }
    
    main > .lyricbox2{
        width:390px;
    }
    
    main > .lyricbox3{
        width:390px;
    }

    #slutt{
        width:390px;
    }
}

@media(max-width:380px){

    #vid{
        filter:brightness(0.2);
        width:100%;
        
    }

    .intro{
        bottom:350px;
    }

    main > .lyricbox1{
        width:360px;
    }
    
    main > .lyricbox2{
        width:360px;
    }
    
    main > .lyricbox3{
        width:360px;
    }

    #slutt{
        width:360px;
    }
    
}